// 1. Import the initial variables
@import "~bulma/sass/utilities/_all";

// 2. Set your own initial variables

$grey-light: #7f7f7f;
$red: #ce6b6b;
$green: #a9c476;
$yellow: #e0d4a0;
$brown: #bca291;
$purple: #c4a7d8;

$faded-red: #eecbcb;
$faded-green: #e1eacf;
$faded-yellow: #f4f0de;
$faded-brown: #e8dfd9;
$faded-purple: #eae0f1;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900i');
$family-sans-serif: 'Roboto', sans-serif;
$family-serif: 'Roboto Slab', serif;

// 3. Set the derived variables
$primary: #40484c;
$family-primary: $family-sans-serif;
$text: $grey-light;


$body-background-color: #eaebef;
